@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}



.btn{
  background: rgba(65, 65, 221, 0.722)
  ;
  padding: 10px;
margin: 10px;
}

.bor{
  border-radius: 20px 60px;
  width: 400px;
}


.bg{
  background: rgba(128, 128, 128, 0.385);
}